*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16 px;
}

body {
    background-color: rgb(53, 36, 208);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1 {
    background-color: rgb(53, 36, 208);
    padding: 5px;
}

img.lado {
    float:right;

}